.playerFlexContainer {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 20px;
}